# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary (global) repo maintainers
*       @fedekunze @danburck @facs95

# Documentation
docs/ @danburck

# Evmos Modules
x/claims/ @ramacarlucho
x/epochs/ @ramacarlucho
x/erc20/ @ramacarlucho @hanchon
x/feesplit/ @ramacarlucho
x/incentives/ @ramacarlucho
x/inflation/ @ramacarlucho
x/recovery/ @ramacarlucho
x/vesting/ @ramacarlucho
