# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary (global) repo maintainers
*       @fedekunze @khoslaventures @jolube 

# Documentation
docs/ @danburck

# Evmos Modules
x/epochs/ @ramacarlucho
x/erc20/ @danburck @hanchon
x/incentives/ @danburck
x/claims/ @danburck @prajjwol
