version: v1

plugins:

  - name: gocosmos
    out: .
    opt:
      - plugins=grpc,Mgoogle/protobuf/any.proto=github.com/cosmos/cosmos-sdk/codec/types

  - name: grpc-gateway
    out: .
    opt:
      - logtostderr=true

  - name: swagger
    out: ./tmp-swagger-gen
    opt:
      - logtostderr=true
      - fqn_for_swagger_name=true
      - simple_operation_ids=true
    strategy: all
