{
  "openapi": "3.0.1",
  "info": {
    "title": "Evmos Chain - gRPC Gateway docs",
    "description": "A REST interface for state queries and transactions",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rest.bd.evmos.dev:1317/"
    }
  ],
  "paths": {
    "/evmos/claims/v1/claims_records": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "ClaimsRecords returns all claims records",
        "operationId": "ClaimsRecords",
        "parameters": [
          {
            "name": "pagination.key",
            "in": "query",
            "description": "key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "pagination.offset",
            "in": "query",
            "description": "offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.limit",
            "in": "query",
            "description": "limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.count_total",
            "in": "query",
            "description": "count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pagination.reverse",
            "in": "query",
            "description": "reverse is set to true if results are to be returned in the descending order.\n\nSince: cosmos-sdk 0.43",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "claims": {
                      "title": "claims defines all claims records",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "title": "address of claiming user in either bech32 or hex format",
                            "type": "string"
                          },
                          "initial_claimable_amount": {
                            "title": "initial_claimable_amount for the user",
                            "type": "string"
                          },
                          "actions_completed": {
                            "title": "actions_completed is a slice that describes which actions were completed",
                            "type": "array",
                            "items": {
                              "type": "boolean"
                            }
                          }
                        },
                        "description": "ClaimsRecordAddress is the claims metadata per address that is used at\nGenesis."
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_key": {
                          "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                          "type": "string",
                          "description": "next_key is the key to be passed to PageRequest.key to\nquery the next page most efficiently. It will be empty if\nthere are no more results.",
                          "format": "byte"
                        },
                        "total": {
                          "title": "total is total number of results available if PageRequest.count_total\nwas set, its value is undefined otherwise",
                          "type": "string",
                          "format": "uint64"
                        }
                      },
                      "description": "pagination defines the pagination in the response."
                    }
                  },
                  "description": "QueryClaimsRecordsResponse is the response type for the Query/ClaimsRecords\nRPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/claims/v1/claims_records/{address}": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "ClaimsRecord returns the claims record for a given address",
        "operationId": "ClaimsRecord",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "address defines the user to query claims record for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "initial_claimable_amount": {
                      "title": "initial_claimable_amount of the user",
                      "type": "string"
                    },
                    "claims": {
                      "title": "claims of the user",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "title": "action enum",
                            "type": "string",
                            "description": "Action defines the list of available actions to claim the airdrop tokens.\n\n - ACTION_UNSPECIFIED: ACTION_UNSPECIFIED defines an invalid action.\n - ACTION_VOTE: ACTION_VOTE defines a proposal vote.\n - ACTION_DELEGATE: ACTION_DELEGATE defines an staking delegation.\n - ACTION_EVM: ACTION_EVM defines an EVM transaction.\n - ACTION_IBC_TRANSFER: ACTION_IBC_TRANSFER defines a fungible token transfer transaction via IBC.",
                            "default": "ACTION_UNSPECIFIED",
                            "enum": [
                              "ACTION_UNSPECIFIED",
                              "ACTION_VOTE",
                              "ACTION_DELEGATE",
                              "ACTION_EVM",
                              "ACTION_IBC_TRANSFER"
                            ]
                          },
                          "completed": {
                            "title": "completed is true if the action has been completed",
                            "type": "boolean"
                          },
                          "claimable_amount": {
                            "title": "claimable_amount of tokens for the action. Zero if completed",
                            "type": "string"
                          }
                        },
                        "description": "Claim defines the action, completed flag and the remaining claimable amount\nfor a given user. This is only used during client queries."
                      }
                    }
                  },
                  "description": "QueryClaimsRecordResponse is the response type for the Query/ClaimsRecord RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/claims/v1/params": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Params returns the claims module parameters",
        "operationId": "ClaimsParams",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "params": {
                      "type": "object",
                      "properties": {
                        "enable_claims": {
                          "title": "enable_claims is the parameter to enable the claiming process",
                          "type": "boolean"
                        },
                        "airdrop_start_time": {
                          "title": "airdrop_start_time defines the timestamp of the airdrop start",
                          "type": "string",
                          "format": "date-time"
                        },
                        "duration_until_decay": {
                          "title": "duration_until_decay of claimable tokens begin",
                          "type": "string"
                        },
                        "duration_of_decay": {
                          "title": "duration_of_decay for token claim decay period",
                          "type": "string"
                        },
                        "claims_denom": {
                          "title": "claims_denom is the denomination of the claimable coin",
                          "type": "string"
                        },
                        "authorized_channels": {
                          "type": "array",
                          "description": "authorized_channels is the list of authorized channel identifiers that can perform address\nattestations via IBC.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "evm_channels": {
                          "title": "evm_channels is the list of channel identifiers from EVM compatible chains",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "params defines the parameters of the module."
                    }
                  },
                  "description": "QueryParamsResponse is the response type for the Query/Params RPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/claims/v1/total_unclaimed": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "TotalUnclaimed queries the total unclaimed tokens from the airdrop",
        "operationId": "TotalUnclaimed",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coins": {
                      "title": "coins defines the unclaimed coins",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "denom": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          }
                        },
                        "description": "Coin defines a token with a denomination and an amount.\n\nNOTE: The amount field is an Int which implements the custom method\nsignatures required by gogoproto."
                      }
                    }
                  },
                  "description": "QueryTotalUnclaimedResponse is the response type for the Query/TotalUnclaimed\nRPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/epochs/v1/current_epoch": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "CurrentEpoch provide current epoch of specified identifier",
        "operationId": "CurrentEpoch",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "description": "identifier of the current epoch.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_epoch": {
                      "title": "current_epoch is the number of the current epoch",
                      "type": "string",
                      "format": "int64"
                    }
                  },
                  "description": "QueryCurrentEpochResponse is the response type for the Query/EpochInfos RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/epochs/v1/epochs": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "EpochInfos provide running epochInfos",
        "operationId": "EpochInfos",
        "parameters": [
          {
            "name": "pagination.key",
            "in": "query",
            "description": "key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "pagination.offset",
            "in": "query",
            "description": "offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.limit",
            "in": "query",
            "description": "limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.count_total",
            "in": "query",
            "description": "count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pagination.reverse",
            "in": "query",
            "description": "reverse is set to true if results are to be returned in the descending order.\n\nSince: cosmos-sdk 0.43",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "epochs": {
                      "title": "epochs is a slice of all EpochInfos",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "title": "identifier of the epoch",
                            "type": "string"
                          },
                          "start_time": {
                            "title": "start_time of the epoch",
                            "type": "string",
                            "format": "date-time"
                          },
                          "duration": {
                            "title": "duration of the epoch",
                            "type": "string"
                          },
                          "current_epoch": {
                            "title": "current_epoch is the integer identifier of the epoch",
                            "type": "string",
                            "format": "int64"
                          },
                          "current_epoch_start_time": {
                            "title": "current_epoch_start_time defines the timestamp of the start of the epoch",
                            "type": "string",
                            "format": "date-time"
                          },
                          "epoch_counting_started": {
                            "title": "epoch_counting_started reflects if the counting for the epoch has started",
                            "type": "boolean"
                          },
                          "current_epoch_start_height": {
                            "title": "current_epoch_start_height of the epoch",
                            "type": "string",
                            "format": "int64"
                          }
                        },
                        "description": "EpochInfo defines the message interface containing the relevant informations about\nan epoch."
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_key": {
                          "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                          "type": "string",
                          "description": "next_key is the key to be passed to PageRequest.key to\nquery the next page most efficiently. It will be empty if\nthere are no more results.",
                          "format": "byte"
                        },
                        "total": {
                          "title": "total is total number of results available if PageRequest.count_total\nwas set, its value is undefined otherwise",
                          "type": "string",
                          "format": "uint64"
                        }
                      },
                      "description": "pagination defines an optional pagination for the request."
                    }
                  },
                  "description": "QueryEpochsInfoResponse is the response type for the Query/EpochInfos RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/erc20/v1/params": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Params retrieves the erc20 module params",
        "operationId": "ERC20Params",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "params": {
                      "title": "params are the erc20 module parameters",
                      "type": "object",
                      "properties": {
                        "enable_erc20": {
                          "type": "boolean",
                          "description": "enable_erc20 is the parameter to enable the conversion of Cosmos coins <--> ERC20 tokens."
                        },
                        "enable_evm_hook": {
                          "type": "boolean",
                          "description": "enable_evm_hook is the parameter to enable the EVM hook that converts an ERC20 token to a Cosmos\nCoin by transferring the Tokens through a MsgEthereumTx to the ModuleAddress Ethereum address."
                        }
                      }
                    }
                  },
                  "description": "QueryParamsResponse is the response type for the Query/Params RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/erc20/v1/token_pairs": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "TokenPairs retrieves registered token pairs",
        "operationId": "TokenPairs",
        "parameters": [
          {
            "name": "pagination.key",
            "in": "query",
            "description": "key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "pagination.offset",
            "in": "query",
            "description": "offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.limit",
            "in": "query",
            "description": "limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.count_total",
            "in": "query",
            "description": "count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pagination.reverse",
            "in": "query",
            "description": "reverse is set to true if results are to be returned in the descending order.\n\nSince: cosmos-sdk 0.43",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token_pairs": {
                      "title": "token_pairs is a slice of registered token pairs for the erc20 module",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "erc20_address": {
                            "title": "erc20_address is the hex address of ERC20 contract token",
                            "type": "string"
                          },
                          "denom": {
                            "title": "denom defines the cosmos base denomination to be mapped to",
                            "type": "string"
                          },
                          "enabled": {
                            "title": "enabled defines the token mapping enable status",
                            "type": "boolean"
                          },
                          "contract_owner": {
                            "title": "contract_owner is the an ENUM specifying the type of ERC20 owner (0 invalid, 1 ModuleAccount, 2 external address)",
                            "type": "string",
                            "description": "Owner enumerates the ownership of a ERC20 contract.\n\n - OWNER_UNSPECIFIED: OWNER_UNSPECIFIED defines an invalid/undefined owner.\n - OWNER_MODULE: OWNER_MODULE - erc20 is owned by the erc20 module account.\n - OWNER_EXTERNAL: OWNER_EXTERNAL - erc20 is owned by an external account.",
                            "default": "OWNER_UNSPECIFIED",
                            "enum": [
                              "OWNER_UNSPECIFIED",
                              "OWNER_MODULE",
                              "OWNER_EXTERNAL"
                            ]
                          }
                        },
                        "description": "TokenPair defines an instance that records a pairing consisting of a native\n Cosmos Coin and an ERC20 token address."
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_key": {
                          "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                          "type": "string",
                          "description": "next_key is the key to be passed to PageRequest.key to\nquery the next page most efficiently. It will be empty if\nthere are no more results.",
                          "format": "byte"
                        },
                        "total": {
                          "title": "total is total number of results available if PageRequest.count_total\nwas set, its value is undefined otherwise",
                          "type": "string",
                          "format": "uint64"
                        }
                      },
                      "description": "pagination defines the pagination in the response."
                    }
                  },
                  "description": "QueryTokenPairsResponse is the response type for the Query/TokenPairs RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/erc20/v1/token_pairs/{token}": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "TokenPair retrieves a registered token pair",
        "operationId": "TokenPair",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "token identifier can be either the hex contract address of the ERC20 or the\nCosmos base denomination",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token_pair": {
                      "title": "token_pairs returns the info about a registered token pair for the erc20 module",
                      "type": "object",
                      "properties": {
                        "erc20_address": {
                          "title": "erc20_address is the hex address of ERC20 contract token",
                          "type": "string"
                        },
                        "denom": {
                          "title": "denom defines the cosmos base denomination to be mapped to",
                          "type": "string"
                        },
                        "enabled": {
                          "title": "enabled defines the token mapping enable status",
                          "type": "boolean"
                        },
                        "contract_owner": {
                          "title": "contract_owner is the an ENUM specifying the type of ERC20 owner (0 invalid, 1 ModuleAccount, 2 external address)",
                          "type": "string",
                          "description": "Owner enumerates the ownership of a ERC20 contract.\n\n - OWNER_UNSPECIFIED: OWNER_UNSPECIFIED defines an invalid/undefined owner.\n - OWNER_MODULE: OWNER_MODULE - erc20 is owned by the erc20 module account.\n - OWNER_EXTERNAL: OWNER_EXTERNAL - erc20 is owned by an external account.",
                          "default": "OWNER_UNSPECIFIED",
                          "enum": [
                            "OWNER_UNSPECIFIED",
                            "OWNER_MODULE",
                            "OWNER_EXTERNAL"
                          ]
                        }
                      },
                      "description": "TokenPair defines an instance that records a pairing consisting of a native\n Cosmos Coin and an ERC20 token address."
                    }
                  },
                  "description": "QueryTokenPairResponse is the response type for the Query/TokenPair RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/incentives/v1/allocation_meters": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "AllocationMeters retrieves active allocation meters for a given\ndenomination",
        "operationId": "AllocationMeters",
        "parameters": [
          {
            "name": "pagination.key",
            "in": "query",
            "description": "key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "pagination.offset",
            "in": "query",
            "description": "offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.limit",
            "in": "query",
            "description": "limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.count_total",
            "in": "query",
            "description": "count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pagination.reverse",
            "in": "query",
            "description": "reverse is set to true if results are to be returned in the descending order.\n\nSince: cosmos-sdk 0.43",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allocation_meters": {
                      "title": "allocation_meters is a slice of all allocations",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "denom": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          }
                        },
                        "description": "DecCoin defines a token with a denomination and a decimal amount.\n\nNOTE: The amount field is an Dec which implements the custom method\nsignatures required by gogoproto."
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_key": {
                          "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                          "type": "string",
                          "description": "next_key is the key to be passed to PageRequest.key to\nquery the next page most efficiently. It will be empty if\nthere are no more results.",
                          "format": "byte"
                        },
                        "total": {
                          "title": "total is total number of results available if PageRequest.count_total\nwas set, its value is undefined otherwise",
                          "type": "string",
                          "format": "uint64"
                        }
                      },
                      "description": "pagination defines the pagination in the response."
                    }
                  },
                  "description": "QueryAllocationMetersResponse is the response type for the\nQuery/AllocationMeters RPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/incentives/v1/allocation_meters/{denom}": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "AllocationMeter retrieves a active gas meter",
        "operationId": "AllocationMeter",
        "parameters": [
          {
            "name": "denom",
            "in": "path",
            "description": "denom is the coin denom to query an allocation meter for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allocation_meter": {
                      "title": "allocation_meter defines the allocation of the queried denom",
                      "type": "object",
                      "properties": {
                        "denom": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        }
                      },
                      "description": "DecCoin defines a token with a denomination and a decimal amount.\n\nNOTE: The amount field is an Dec which implements the custom method\nsignatures required by gogoproto."
                    }
                  },
                  "description": "QueryAllocationMeterResponse is the response type for the\nQuery/AllocationMeter RPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/incentives/v1/gas_meters/{contract}": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "GasMeters retrieves active gas meters for a given contract",
        "operationId": "GasMeters",
        "parameters": [
          {
            "name": "contract",
            "in": "path",
            "description": "contract is the hex contract address of a incentivized smart contract",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagination.key",
            "in": "query",
            "description": "key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "pagination.offset",
            "in": "query",
            "description": "offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.limit",
            "in": "query",
            "description": "limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.count_total",
            "in": "query",
            "description": "count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pagination.reverse",
            "in": "query",
            "description": "reverse is set to true if results are to be returned in the descending order.\n\nSince: cosmos-sdk 0.43",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gas_meters": {
                      "title": "gas_meters is a slice of the gas meters for an incentivized smart contract",
                      "type": "array",
                      "items": {
                        "title": "GasMeter tracks the cumulative gas spent per participant in one epoch",
                        "type": "object",
                        "properties": {
                          "contract": {
                            "title": "contract is the hex address of the incentivized smart contract",
                            "type": "string"
                          },
                          "participant": {
                            "title": "participant address that interacts with the incentive",
                            "type": "string"
                          },
                          "cumulative_gas": {
                            "title": "cumulative_gas spent during the epoch",
                            "type": "string",
                            "format": "uint64"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_key": {
                          "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                          "type": "string",
                          "description": "next_key is the key to be passed to PageRequest.key to\nquery the next page most efficiently. It will be empty if\nthere are no more results.",
                          "format": "byte"
                        },
                        "total": {
                          "title": "total is total number of results available if PageRequest.count_total\nwas set, its value is undefined otherwise",
                          "type": "string",
                          "format": "uint64"
                        }
                      },
                      "description": "pagination defines the pagination in the response."
                    }
                  },
                  "description": "QueryGasMetersResponse is the response type for the Query/Incentives RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/incentives/v1/gas_meters/{contract}/{participant}": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "GasMeter retrieves a active gas meter",
        "operationId": "GasMeter",
        "parameters": [
          {
            "name": "contract",
            "in": "path",
            "description": "contract is the hex contract address of a contract",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participant",
            "in": "path",
            "description": "participant is the hex address of a user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gas_meter": {
                      "title": "gas_meter is a gas meter for one participant on an incentivized smart contract",
                      "type": "string",
                      "format": "uint64"
                    }
                  },
                  "description": "QueryGasMeterResponse is the response type for the Query/Incentive RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/incentives/v1/incentives": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Incentives retrieves registered incentives",
        "operationId": "Incentives",
        "parameters": [
          {
            "name": "pagination.key",
            "in": "query",
            "description": "key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "pagination.offset",
            "in": "query",
            "description": "offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.limit",
            "in": "query",
            "description": "limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "pagination.count_total",
            "in": "query",
            "description": "count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pagination.reverse",
            "in": "query",
            "description": "reverse is set to true if results are to be returned in the descending order.\n\nSince: cosmos-sdk 0.43",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "incentives": {
                      "title": "incentives is a slice of all incentives",
                      "type": "array",
                      "items": {
                        "title": "Incentive defines an instance that organizes distribution conditions for a\ngiven smart contract",
                        "type": "object",
                        "properties": {
                          "contract": {
                            "title": "contract address of the smart contract to be incentivized",
                            "type": "string"
                          },
                          "allocations": {
                            "title": "allocations is a slice of denoms and percentages of rewards to be allocated",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "denom": {
                                  "type": "string"
                                },
                                "amount": {
                                  "type": "string"
                                }
                              },
                              "description": "DecCoin defines a token with a denomination and a decimal amount.\n\nNOTE: The amount field is an Dec which implements the custom method\nsignatures required by gogoproto."
                            }
                          },
                          "epochs": {
                            "title": "epochs defines the number of remaining epochs for the incentive",
                            "type": "integer",
                            "format": "int64"
                          },
                          "start_time": {
                            "title": "start_time of the incentive distribution",
                            "type": "string",
                            "format": "date-time"
                          },
                          "total_gas": {
                            "title": "total_gas is the cumulative gas spent by all gas meters of the incentive during the epoch",
                            "type": "string",
                            "format": "uint64"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_key": {
                          "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                          "type": "string",
                          "description": "next_key is the key to be passed to PageRequest.key to\nquery the next page most efficiently. It will be empty if\nthere are no more results.",
                          "format": "byte"
                        },
                        "total": {
                          "title": "total is total number of results available if PageRequest.count_total\nwas set, its value is undefined otherwise",
                          "type": "string",
                          "format": "uint64"
                        }
                      },
                      "description": "pagination defines the pagination in the response."
                    }
                  },
                  "description": "QueryIncentivesResponse is the response type for the Query/Incentives RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/incentives/v1/incentives/{contract}": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Incentive retrieves a registered incentive",
        "operationId": "Incentive",
        "parameters": [
          {
            "name": "contract",
            "in": "path",
            "description": "contract is the hex contract address of a incentivized smart contract",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "incentive": {
                      "title": "Incentive defines an instance that organizes distribution conditions for a\ngiven smart contract",
                      "type": "object",
                      "properties": {
                        "contract": {
                          "title": "contract address of the smart contract to be incentivized",
                          "type": "string"
                        },
                        "allocations": {
                          "title": "allocations is a slice of denoms and percentages of rewards to be allocated",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "denom": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "string"
                              }
                            },
                            "description": "DecCoin defines a token with a denomination and a decimal amount.\n\nNOTE: The amount field is an Dec which implements the custom method\nsignatures required by gogoproto."
                          }
                        },
                        "epochs": {
                          "title": "epochs defines the number of remaining epochs for the incentive",
                          "type": "integer",
                          "format": "int64"
                        },
                        "start_time": {
                          "title": "start_time of the incentive distribution",
                          "type": "string",
                          "format": "date-time"
                        },
                        "total_gas": {
                          "title": "total_gas is the cumulative gas spent by all gas meters of the incentive during the epoch",
                          "type": "string",
                          "format": "uint64"
                        }
                      }
                    }
                  },
                  "description": "QueryIncentiveResponse is the response type for the Query/Incentive RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/incentives/v1/params": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Params retrieves the incentives module params",
        "operationId": "IncentivesParams",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "params": {
                      "title": "params are the incentives module parameters",
                      "type": "object",
                      "properties": {
                        "enable_incentives": {
                          "title": "enable_incentives is the parameter to enable incentives",
                          "type": "boolean"
                        },
                        "allocation_limit": {
                          "title": "allocation_limit is the maximum percentage an incentive can allocate per denomination",
                          "type": "string"
                        },
                        "incentives_epoch_identifier": {
                          "title": "incentives_epoch_identifier for the epochs module hooks",
                          "type": "string"
                        },
                        "reward_scaler": {
                          "title": "reward_scaler is the scaling factor for capping rewards",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "QueryParamsResponse is the response type for the Query/Params RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/inflation/v1/circulating_supply": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "CirculatingSupply retrieves the total number of tokens that are in\ncirculation (i.e. excluding unvested tokens).",
        "operationId": "CirculatingSupply",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "circulating_supply": {
                      "title": "circulating_supply is the total amount of coins in circulation",
                      "type": "object",
                      "properties": {
                        "denom": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        }
                      },
                      "description": "DecCoin defines a token with a denomination and a decimal amount.\n\nNOTE: The amount field is an Dec which implements the custom method\nsignatures required by gogoproto."
                    }
                  },
                  "description": "QueryCirculatingSupplyResponse is the response type for the\nQuery/CirculatingSupply RPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/inflation/v1/epoch_mint_provision": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "EpochMintProvision retrieves current minting epoch provision value.",
        "operationId": "EpochMintProvision",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "epoch_mint_provision": {
                      "type": "object",
                      "properties": {
                        "denom": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        }
                      },
                      "description": "epoch_mint_provision is the current minting per epoch provision value."
                    }
                  },
                  "description": "QueryEpochMintProvisionResponse is the response type for the\nQuery/EpochMintProvision RPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/inflation/v1/inflation_rate": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "InflationRate retrieves the inflation rate of the current period.",
        "operationId": "InflationRate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inflation_rate": {
                      "title": "inflation_rate by which the total supply increases within one period",
                      "type": "string"
                    }
                  },
                  "description": "QueryInflationRateResponse is the response type for the Query/InflationRate\nRPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/inflation/v1/params": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Params retrieves the total set of minting parameters.",
        "operationId": "InflationParams",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "params": {
                      "type": "object",
                      "properties": {
                        "mint_denom": {
                          "title": "mint_denom specifies the type of coin to mint",
                          "type": "string"
                        },
                        "exponential_calculation": {
                          "title": "exponential_calculation takes in the variables to calculate exponential inflation",
                          "type": "object",
                          "properties": {
                            "a": {
                              "title": "a defines the initial value",
                              "type": "string"
                            },
                            "r": {
                              "title": "r defines the reduction factor",
                              "type": "string"
                            },
                            "c": {
                              "title": "c defines the parameter for long term inflation",
                              "type": "string"
                            },
                            "bonding_target": {
                              "title": "bonding_target",
                              "type": "string"
                            },
                            "max_variance": {
                              "title": "max_variance",
                              "type": "string"
                            }
                          }
                        },
                        "inflation_distribution": {
                          "title": "inflation_distribution of the minted denom",
                          "type": "object",
                          "properties": {
                            "staking_rewards": {
                              "title": "staking_rewards defines the proportion of the minted minted_denom that is\nto be allocated as staking rewards",
                              "type": "string"
                            },
                            "usage_incentives": {
                              "title": "usage_incentives defines the proportion of the minted minted_denom that is\nto be allocated to the incentives module address",
                              "type": "string"
                            },
                            "community_pool": {
                              "title": "community_pool defines the proportion of the minted minted_denom that is to\nbe allocated to the community pool",
                              "type": "string"
                            }
                          }
                        },
                        "enable_inflation": {
                          "title": "enable_inflation is the parameter that enables inflation and halts increasing the skipped_epochs",
                          "type": "boolean"
                        }
                      },
                      "description": "params defines the parameters of the module."
                    }
                  },
                  "description": "QueryParamsResponse is the response type for the Query/Params RPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/inflation/v1/period": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Period retrieves current period.",
        "operationId": "Period",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "string",
                      "description": "period is the current minting per epoch provision value.",
                      "format": "uint64"
                    }
                  },
                  "description": "QueryPeriodResponse is the response type for the Query/Period RPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/inflation/v1/skipped_epochs": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "SkippedEpochs retrieves the total number of skipped epochs.",
        "operationId": "SkippedEpochs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "skipped_epochs": {
                      "type": "string",
                      "description": "skipped_epochs is the number of epochs that the inflation module has been disabled.",
                      "format": "uint64"
                    }
                  },
                  "description": "QuerySkippedEpochsResponse is the response type for the Query/SkippedEpochs\nRPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/vesting/v1/balances/{address}": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Balances retrieves the unvested, vested and locked tokens for a vesting account",
        "operationId": "Balances",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "address of the clawback vesting account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "locked": {
                      "title": "locked defines the current amount of locked tokens",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "denom": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          }
                        },
                        "description": "Coin defines a token with a denomination and an amount.\n\nNOTE: The amount field is an Int which implements the custom method\nsignatures required by gogoproto."
                      }
                    },
                    "unvested": {
                      "title": "unvested defines the current amount of unvested tokens",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "denom": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          }
                        },
                        "description": "Coin defines a token with a denomination and an amount.\n\nNOTE: The amount field is an Int which implements the custom method\nsignatures required by gogoproto."
                      }
                    },
                    "vested": {
                      "title": "vested defines the current amount of vested tokens",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "denom": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          }
                        },
                        "description": "Coin defines a token with a denomination and an amount.\n\nNOTE: The amount field is an Int which implements the custom method\nsignatures required by gogoproto."
                      }
                    }
                  },
                  "description": "QueryBalancesResponse is the response type for the Query/Balances RPC\nmethod."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/recovery/v1/params": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Params retrieves the total set of recovery parameters.",
        "operationId": "RecoveryParams",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "params": {
                      "title": "Params holds parameters for the recovery module",
                      "type": "object",
                      "properties": {
                        "enable_recovery": {
                          "title": "enable_recovery IBC middleware",
                          "type": "boolean"
                        },
                        "packet_timeout_duration": {
                          "title": "packet_timeout_duration is the duration added to timeout timestamp for balances recovered via IBC packets",
                          "type": "string"
                        }
                      },
                      "description": "params defines the parameters of the module."
                    }
                  },
                  "description": "QueryParamsResponse is the response type for the Query/Params RPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/revenue/v1/params": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Params retrieves the revenue module params",
        "operationId": "RevenueParams",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "params": {
                      "title": "params is the returned revenue parameter",
                      "type": "object",
                      "properties": {
                        "enable_revenue": {
                          "title": "enable_revenue defines a parameter to enable the revenue module",
                          "type": "boolean"
                        },
                        "developer_shares": {
                          "title": "developer_shares defines the proportion of the transaction fees to be\ndistributed to the registered contract owner",
                          "type": "string"
                        },
                        "addr_derivation_cost_create": {
                          "title": "addr_derivation_cost_create defines the cost of address derivation for\nverifying the contract deployer at fee registration",
                          "type": "string",
                          "format": "uint64"
                        }
                      }
                    }
                  },
                  "description": "QueryParamsResponse is the response type for the Query/Params RPC method."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_url": {
                            "type": "string"
                          },
                          "value": {
                            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evmos/revenue/v1/revenues": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Revenues retrieves all registered revenues",
        "operationId": "Revenues",
        "parameters": [
          {
            "name": "pagination.key",
[...]
