name: AnteHandler Benchmark Tests

on:
  push:
    branches:
      - main
    paths: 
      - 'app/ante/**'
  pull_request:
    branches:
      - main
    paths: 
      - 'app/ante/**'

jobs:
  ante-benchmark-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Golang
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          check-latest: true

      - name: Run benchmark tests
        run: go test -bench=. ./app/ante/... -benchtime=1000x

