name: Check Licenses
on:
  pull_request

jobs:
  check-licenses:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            **/**.go
            **/**.proto
      - run: |
          make check-licenses
        if: env.GIT_DIFF
