name: E2E Test Release
on:
  pull_request:
    branches:
      - release/**
  push:
    branches:
      - release/**

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          check-latest: true
      - uses: actions/checkout@v3
      - name: Test E2E
        run: |
          make test-e2e
        if: env.GIT_DIFF
