name: Solidity Test
on:
  pull_request:
    branches:
      - main
      - release/**

jobs:
  test-solidity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          check-latest: true
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.sol
            **/**.go
            go.mod
            go.sum
      - name: Test Solidity
        run: |
          make test-solidity
        if: env.GIT_DIFF

