name: Upgrade Test Release
on:
  pull_request:
    branches:
      - release/**
  push:
    branches:
      - release/**

jobs:
  test-e2e-upgrade:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          check-latest: true
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.sol
            **/**.go
            go.mod
            go.sum
      - name: Test E2E upgrade
        run: |
          make test-upgrade
        if: env.GIT_DIFF
